<%= form_for(@equipamento) do |f| %>
  <% if @equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipamento.errors.count, "erro") %> impediram essa sala de ser salvos:</h2>

      <ul>
      <% @equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc, "Descriçao:" %><br>
    <%= f.text_field :desc , class:'control-form'%>
  </div>
  <div class="field">
    <%= f.label :disp,"O equipamento está disponível:" %><br>
    <%= f.check_box :disp , class:'checkbox checkbox1'%>
  </div>
  <div class="actions">
    <br>
    <%= f.submit 'Atualizar' ,class:'btn btn-primary'%>
  </div>
<% end %>
