<p id="notice"><%= notice %></p>

<h3 class='mostra'>
  Descrição: 
  <%= @equipamento.desc %>
  <br>
  Disponível: 
  <%= @equipamento.disp %>
</h3>

<%= link_to 'Editar', edit_equipamento_path(@equipamento) ,class:'link_fim_pagina'%> |
<%= link_to 'Voltar', equipamentos_path ,class:'link_fim_pagina'%>
