
<h2> Olá <%= @user.nome %></h2>
<h5 class ="esquerda">  <br>
    Email: <%= @user.email %> <br>
    Matrícula: <%= @user.matricula %><br>

    CPF: <%= @user.cpf %> <br>
    Telefone: <%= @user.telefone %><br>
    Tipo: <%= @user.tipo %>
</h5>


<!--#https://projeto-injunior-nicholasquintella-1.c9users.io/users/1-->