<h1 class="header-tabela">Usuários</h1>
<div class="panel-body responsive tabela">
<table id="example" class=" display table dt-responsive no-wrap" cellspacing="0" width="100%">
<thead>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>CPF</th>
    <th>Vizualizar</th>
    <th>Alterar</th>

  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.matricula %></td>
      <td><%= user.matricula %></td>
      <td><%= user.email %></td>
      <td><%= user.telefone %></td>
      <td><%= user.cpf %></td>
      <td><%link_to'vizualizar', </td>
    </tr>
  <% end %>
 </tbody>
</table>
</div>
  
       
     <script src="assets/jquery.min.js"></script>
     <script src ="assets/jquery.dataTables.min.js"></script>
     <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
     <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
     
     
     
     
     
     