<p id="notice"><%= notice %></p>

<h1 class="header-tabela">Reserva de Salas</h1>
<div class="panel-body responsive tabela">
<table id="example" class=" display table dt-responsive no-wrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Sala</th>
      <th>Usuário</th>
      <th>Início da Reserva</th>
      <th>Fim da Reserva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserva_salas.each do |reserva_sala| %>
      <tr>
        <td><%= reserva_sala.sala.nome %></td>
        <td><%= reserva_sala.user.nome %></td>
        <td><%= reserva_sala.data_ini_sala %></td>
        <td><%= reserva_sala.data_fin_sala %></td>
        <td><%= link_to 'Mostrar', reserva_sala %></td>
        <% if current_user.gerente?  || current_user === reserva_sala.user  %>
          <td><%= link_to 'Editar', edit_reserva_sala_path(reserva_sala) %></td>
        <% end %>
        <% if current_user.gerente? && !current_user?(@user) %>
          <td><%= link_to 'Remover', reserva_sala, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Reservar uma Sala', new_reserva_sala_path , class:'link_fim_pagina' %>
 