<p id="notice"><%= notice %></p>

<h1>Listing Reserva Equipamentos</h1>

<table>
  <thead>
    <tr>
      <th>Equipamento</th>
      <th>User</th>
      <th>Data ini equip</th>
      <th>Data fin equip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserva_equipamentos.each do |reserva_equipamento| %>
      <tr>
        <td><%= reserva_equipamento.equipamento_id %></td>
        <td><%= reserva_equipamento.user_id %></td>
        <td><%= reserva_equipamento.data_ini_equip %></td>
        <td><%= reserva_equipamento.data_fin_equip %></td>
        <td><%= link_to 'Show', reserva_equipamento %></td>
        <td><%= link_to 'Edit', edit_reserva_equipamento_path(reserva_equipamento) %></td>
        <td><%= link_to 'Destroy', reserva_equipamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserva equipamento', new_reserva_equipamento_path %>
