<p id="notice"><%= notice %></p>

<p class="mostra">
  <strong>Equipamento:</strong>
  <%= @reserva_equipamento.equipamento_id %><br>

  <strong>Usuário:</strong>
  <%= @reserva_equipamento.user_id %><br>

  <strong>Data de início de reserva de sala</strong>
  <%= @reserva_equipamento.data_ini_equip %><br>
  <strong>Data de fim de reserva de sala</strong>
  <%= @reserva_equipamento.data_fin_equip %>
</p>



<%= link_to 'Editar', edit_reserva_equipamento_path(@reserva_equipamento) ,class:'link_fim_pagina' %> |
<%= link_to 'Voltar', reserva_equipamentos_path ,class:'link_fim_pagina' %>

