<p id="notice"><%= notice %></p>

<p class="mostra">
  <strong>Equipamento:</strong>
  <%= @reserva_equipamento.equipamento_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reserva_equipamento.user_id %>
</p>

<p>
  <strong>Data ini equip:</strong>
  <%= @reserva_equipamento.data_ini_equip %>
</p>

<p>
  <strong>Data fin equip:</strong>
  <%= @reserva_equipamento.data_fin_equip %>
</p>



<%= link_to 'Editar', edit_reserva_equipamento_path(@reserva_equipamento) ,class:'link_fim_pagina' %> |
<%= link_to 'Voltar', reserva_equipamentos_path ,class:'link_fim_pagina' %>

