<%= form_for(@sala) do |f| %>
  <% if @sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sala.errors.count, "erro") %> impediram essa sala de ser salvos:</h2>

      <ul>
      <% @sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome,"Nome:" %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :predio,"Prédio:" %><br>
    <%= f.text_field :predio , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :cont_proj,'A sala possui projetor:' %><br>
    <%= f.check_box :cont_proj , class: 'checkbox' %>
  </div>
  <div class="field">
    <%= f.label :disp,'A sala está disponível:' %><br>
    <%= f.check_box :disp , class:'checkbox' %>
  </div>
  <div class="actions">
    <br><br>
     <%= f.submit "Adicionar Sala", class: "btn btn-primary" %>
  </div>
<% end %>
