<p id="notice"><%= notice %></p>

<h1 class="header-tabela">Salas</h1>
<div class="panel-body responsive tabela">
<table id="example" class=" display table dt-responsive no-wrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Sala</th>
      <th>Prédio</th>
      <th>Projetor Fixo</th>
      <th>Disponibilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.predio %></td>
        <td><%= humanize_boolean(sala.cont_proj) %></td>
        <td><%= humanize_boolean(sala.disp) %></td>
        <td><%= link_to 'Mostrar', sala %></td>
        <% if logged_in? %>
          <% if current_user.gerente? && !current_user?(@user) %>
            <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
            <td><%= link_to 'Remover', sala, method: :delete, data: { confirm: 'Tem certeza que gostaria de remover essa sala?' } %></td>
          <% end %>  
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if logged_in? %>
  <% if current_user.gerente? && !current_user?(@user) %>
  <col-md-6><%= link_to 'Adicionar Sala', new_sala_path, class:'link_fim_pagina' %><br></col-md-6>
  <% end %>  
  <col-md-6><%= link_to 'Marcar Horário', new_reserva_sala_path, class:'link_fim_pagina' %></col-md-6>
<% end %>




