<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sala.nome %>
</p>

<p>
  <strong>Predio:</strong>
  <%= @sala.predio %>
</p>

<p>
  <strong>Cont proj:</strong>
  <%= @sala.cont_proj %>
</p>

<p>
  <strong>Disp:</strong>
  <%= @sala.disp %>
</p>

<%= link_to 'Ver reserva', edit_sala_path(@sala) ,class:'link_fim_pagina'%> |
<%= link_to 'Voltar', salas_path ,class:'link_fim_pagina' %>
